
project_files/toilets-everywhere/.idea/vcs.xml
project_files/toilets-everywhere/.gradle/file-system.probe
project_files/toilets-everywhere/.gradle/buildOutputCleanup/outputFiles.bin
project_files/toilets-everywhere/.gradle/buildOutputCleanup/buildOutputCleanup.lock
project_files/toilets-everywhere/.gradle/8.0/fileHashes/resourceHashesCache.bin
project_files/toilets-everywhere/.gradle/8.0/fileHashes/fileHashes.lock
project_files/toilets-everywhere/.gradle/8.0/fileHashes/fileHashes.bin
project_files/toilets-everywhere/.gradle/8.0/executionHistory/executionHistory.lock
project_files/toilets-everywhere/.gradle/8.0/executionHistory/executionHistory.bin
